<p>
  list-items works! {{ collection | json }}
</p>

<div class="container">

  <!-- <div *ngFor="let htmlItem of collection">
    <app-item [item]="htmlItem"></app-item>
  </div> -->

  <!-- le 'div *ngFor="let htmlItem of collection"' ajoute dans le DOM des div qui ne servent
  à rien, pour éviter cela on utilise la 'TRANSCLUSION' qui permet de créer des élements qui
  affichent des composents provenant d'ailleurs -->
  <ng-container *ngFor="let htmlItem of collection">
    <!-- ici on fait du binding avec '[]' de htmlItem sur la variable de ItemComponent.item définie -->
    <!-- dans le fichier 'item.component.ts' -->
    <app-item [item]="htmlItem"></app-item>
  </ng-container>
</div>
