<div class="card">
    <div class="card-header">
        <!-- <span *ngIf="state.ALIVRER === item.state" class="state-a-livrer">{{item.state}}</span>
        <span *ngIf="state.ENCOURS === item.state" class="state-en-cours">{{item.state}}</span>
        <span *ngIf="state.LIVREE === item.state" class="state-livree">{{item.state}}</span> -->

        <!-- au lieu d'utiliser le ngIf, on va créer une DIRECTIVE "state" qui permet de
          générer le code nécessaire conditionné à la valeur de 'state' -->
        <span [appState]="item.state">{{item.state}}</span>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{item.name}}</h5>
      <p class="card-text">{{item.reference}}</p>
      <a href="#" class="btn btn-primary">{{item.id}}</a>
    </div>
  </div>
